@tailwind base;
@tailwind components;
@tailwind utilities;


.animate-bar {
    top: 0;
    left: 0;
    box-sizing: border-box;
    overflow: hidden;
    animation: animloader 1.0s linear infinite;

}


@keyframes animloader {
    0% {
        left: 0;
        transform: translateX(-100%);
    }

    100% {
        left: 100%;
        transform: translateX(0%);
    }
}
